body {
  position: relative;
  width: 100%;
  height: 100%;

  background: #ffffff;
}
.header {
  overflow: hidden;
  background: linear-gradient(
    72.44deg,
    rgba(255, 194, 37, 0.96) 0%,
    rgba(255, 211, 97, 0.96) 95.83%
  );
}

.navbar {
  position: relative;

  background: linear-gradient(
    270deg,
    rgba(73, 73, 73, 0.21) 0%,
    rgba(82, 82, 82, 0.042) 100%
  );
  height: 80px;
  margin-left: -1px;
  margin-top: 46px;
}

.navbar-brand {
  position: relative;
  margin-left: -12px;
  margin-top: -14px;
}

.right-container {
  margin-top: -11px;
  height: 68px;
  width: 651px;
}

.place {
  width: 25px;
  height: 25px;
  background: url(image.png);
}

.place img {
  position: relative;
  margin-left: 4px;
  margin-top: 19px;
}

.city:hover {
  color: #ffffff;
}

.city {
  position: relative;
  margin-top: -24px;
  margin-left: 29px;
  width: 81px;
  height: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  transition: 0.5s;
  color: #000000;
}

.section {
  position: relative;
  overflow: hidden;
  width: 1920px;
  height: 3000px;

  background: linear-gradient(
    72.44deg,
    rgba(255, 194, 37, 0.96) 0%,
    rgba(255, 211, 97, 0.96) 95.83%
  );
  background-blend-mode: darken;
}

.sign-up {
  width: 226px;
  height: 25px;
  margin-top: -32px;
  margin-left: 133px;
  position: relative;
  transition: 0.5s;
}

.login img {
  position: relative;
  margin-top: 0px;
  margin-left: 2px;
}

.registration {
  text-decoration: none;
  position: relative;
  margin-top: 0px;
  margin-left: -5px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  transition: 0.5s;
  color: #000000;

  mix-blend-mode: normal;
}
.registration:hover {
  color: #ffffff;
}

.line {
  position: relative;
  margin-top: -26px;
  margin-left: 165px;
  color: #000000;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  transition: 0.5s;
}

.line:hover {
  color: #ffffff;
}

.exit {
  display: inherit;
  text-decoration: none;
  position: relative;
  margin-top: -26px;
  margin-left: 177px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #000000;

  mix-blend-mode: normal;
  transition: 0.5s;
}

.exit:hover {
  color: #ffffff;
}

.ad {
  display: inherit;
  position: relative;
  margin-top: -41px;
  margin-left: 261px;
  width: 252px;
  height: 65px;
  background: #000000;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: 0.5s;
}

.ad:hover {
  background: #ffffff;
}

.ad h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #ffffff;
  transition: 0.5s;
}

.ad h1:hover {
  color: #000000;
}

.main-button {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 1253px;
  height: 65px;
  margin-left: 331px;
  margin-top: 204px;

  filter: drop-shadow(5px 3px 5px rgba(0, 0, 0, 0.2));
}

.hidden {
  display: none;
}

.first-button-content {
  position: absolute;
  width: 100%;
  height: 100%;
  max-width: 380px;
  min-height: 160px;
  margin-left: -63px;
  margin-top: -46px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  transition: all 0.5s;
}
.paw img {
  position: relative;
  margin-top: 20px;
  margin-left: 82px;
}

.first-button-content h1 {
  position: relative;
  margin-left: 42px;
  margin-top: 2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;

  color: #000000;
}

.first-button-content h3 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;

  color: #000000;
}

.dog-text {
  position: absolute;
  margin-top: -4px;
  margin-left: 42px;
}

.cat-text {
  position: relative;
  margin-top: 15px;
  margin-left: 42px;
}
.other-animal {
  position: relative;
  margin-top: -11px;
  margin-left: 42px;
}

.black-paw img {
  position: relative;
  margin-top: -194px;
  margin-left: 259px;
}

.black-paw h1 {
  position: relative;
  margin-left: 212px;
  margin-top: -82px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;

  color: #000000;
}

.dog-text-two {
  position: relative;
  margin-left: 212px;
  margin-top: -52px;
}

.cat-text-two {
  position: relative;
  margin-left: 212px;
  margin-top: -9px;
}

.other-animal-two {
  position: relative;
  margin-left: 212px;
  margin-top: -10px;
}

.heart img {
  position: relative;
  margin-top: 25px;
  margin-left: 78px;
}

.main-button button {
  border: none;
  outline: none;
  position: relative;
  margin-top: -121px;
  margin-left: 0px;
  width: 252px;
  height: 65px;
  width: 253.62px;
  height: 65px;
  background: #000000;
  border-radius: 15px;
  transition: 0.5s;
}

.main-button button:hover {
  background: #ffffff;
}

.main-button button h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: #ffffff;
  transition: 0.5s;
}

.main-button button h1:hover {
  color: #000000;
}

.animal {
  display: inherit;
  position: absolute;

  width: 1195px;
  height: 1046px;
  left: 165px;
  top: 322px;
}

.cat-card {
  position: initial;
  display: flex;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card {
  position: absolute;
  width: 340px;
  height: 295.39px;
  left: 36px;
  top: 36px;

  background: rgba(137, 231, 179, 0.65);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.card-img {
  position: relative;
  margin-left: 22px;
  margin-top: 17px;
}

.card-text {
  position: relative;
  margin-top: -8px;
  margin-left: 6px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #000000;
}

.losted-found p {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 41px;
  margin-top: -2px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  color: #000000;
}

.card-second {
  position: absolute;
  width: 340px;
  height: 295.39px;
  margin-left: 430px;
  margin-top: 39px;

  background: rgba(137, 231, 179, 0.65);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.card-img-second {
  position: relative;
  margin-left: 22px;
  margin-top: 17px;
}

.card-third {
  position: absolute;
  width: 340px;
  height: 295.39px;
  margin-left: 817px;
  margin-top: 36px;

  background: rgba(137, 231, 179, 0.65);
  box-shadow: 5px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.card-img-third {
  position: relative;
  margin-left: 22px;
  margin-top: 17px;
}

.dog {
  position: initial;
  margin-left: 818px;
  margin-top: -13px;
  width: 718px;
  height: 938px;
  background-image: url("/image/гемор1\ \(1\).png");
}

.second-button-content {
  position: absolute;
  width: 200px;
  height: 170px;
  left: 363px;
  top: -50px;
  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 5px 3px 5px rgb(0 0 0 / 20%);
  border-radius: 15px;
}

.second-button-content h1 {
  position: relative;
  margin-top: 3px;
  margin-left: 49px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 11px;
  line-height: 13px;

  color: hsl(0, 0%, 0%);
}

.third-button-content{
  position: absolute;
  width: 200px;
  height: 170px;
  left: 658px;
  top: -50px;
  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 5px 3px 5px rgb(0 0 0 / 20%);
  border-radius: 15px;
}

.fourth-button-content{
  position: absolute;
  width: 200px;
  height: 170px;
  left: 1020px;
  top: -50px;
  background: #ffffff;
  mix-blend-mode: normal;
  box-shadow: 5px 3px 5px rgb(0 0 0 / 20%);
  border-radius: 15px;
}

.hidden-third{
  display: none;
}

.hidden-two {
  display: none;
}

footer{
  position: absolute;
width: 1920px;
height: 615px;
left: 0px;
top: 1581px;

background: #000000;
}